@using GiftPicker.Db.Models;

@{
    var loggedUser = (User)ViewBag.LoggedUser;
}

<header id="header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand text-dark" asp-area="" asp-controller="UserVotings" asp-action="Search">GiftPicker</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav me-auto">

                </ul>
                <ul class="navbar-nav">
                    @if (loggedUser != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Users" asp-action="Search">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="UserVotings" asp-action="Search">Votings</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="far fa-circle-user fa-lg"></i> <span class="d-sm-none d-lg-inline-block">@loggedUser.Username</span></a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a asp-action="LogOff" asp-controller="Users" class="dropdown-item">Log off</a></li>
                            </ul>
                        </li>
                    }else{
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>